<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

	<platform name="android" >
	<splash src="res/screen/android/cat.png" density="land-hdpi"/>
	<splash src="res/screen/android/cat.pngg"  density="land-ldpi"/>
	<splash src="res/screen/android/cat.png"  density="land-mdpi"/>
	<splash src="res/screen/android/cat.png" density="land-xhdpi"/>
	<splash src="res/screen/android/cat.png"  density="port-hdpi"/>
	<splash src="res/screen/android/cat.png" density="port-ldpi"/>
	<splash src="res/screen/android/cat.png" density="port-mdpi"/>
	<splash src="res/screen/android/cat.png"  density="port-xhdpi"/>
	</platform>
	
	<preference name="SplashScreenDelay" value="10000" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-device-motion" />
	<plugin name="cordova-plugin-splashscreen" />

</widget>
