<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
	    
	<name>Businesscard</name>
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" spec="1.3.4" />
	<plugin name="cordova-plugin-device-motion" spec="1.2.5"/>
	<plugin name="cordova-plugin-splashscreen" spec="5.0.2"/>
	    
	<platform name="android" >
		<splash src="splash.png" />
        <splash density="land-mdpi" src="businesscard2/www/res/drawable-mdpi/splash.9.png" />
        <splash density="land-hdpi" src="businesscard2/www/res/drawable-hdpi/splash.9.png" />
        <splash density="land-xhdpi" src="businesscard2/www/res/drawable-xhdpi/splash.9.png" />
        <splash density="land-xxhdpi" src="businesscard2/www/res/drawable-xxhdpi/splash.9.png" />
        <splash density="land-xxxhdpi" src="businesscard2/www/res/drawable-xxxhdpi/splash.9.png" />
        <splash density="port-mdpi" src="businesscard2/www/res/drawable-mdpi/splash.9.png" />
        <splash density="port-hdpi" src="businesscard2/www/res/drawable-hdpi/splash.9.png" />
        <splash density="port-xhdpi" src="businesscard2/www/res/drawable-xhdpi/splash.9.png" />
        <splash density="port-xxhdpi" src="businesscard2/www/res/drawable-xxhdpi/splash.9.png" />
	<splash density="port-xxxhdpi" src="businesscard2/www/res/drawable-xxxhdpi/splash.9.png" />
	</platform>
	
	<preference name="SplashScreen" value="splash" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="5000" />

</widget>
